body{
display: flex;
flex-direction: column;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width: 300px;
    margin: 0;
}

h2{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    width: 400px;
    margin: 0;
}

h3{
    font-size: 32px;
    font-weight: 800;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;    
    padding: 0;
    gap: 25px;
}

button{
    background-color: #3882f6;
    width: 90px;
    height: 50px;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.header-container {
background-color: #1f2937;
}

.container1 {
    display: flex;
    justify-content: space-around;
}

.header{
display: flex;
justify-content: space-between;
padding: 24px;
color: #f9faf8;
}

.intro{
display: flex;
flex-direction: column;
padding: 30px;
gap: 8px;
}

.headerlogo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.information-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-container{
height: 150px;
width: 150px;
text-align: center;
}

.bluebox-container{
border: 2px solid blue;
border-radius: 8px;
height: 150px;
width: 150px;
}

.all-blocks-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}